@charset "utf-8";

/* 새글 스킨 (latest) */
.pic_logo {}
.pic_logo .logo_img{
    max-width: 100%;
    height:100%;
    padding: 0px 10px;
    padding-top: 10px;
}
.pic_logo .logo_img a img{max-height: 85px;}

.pic_logo .logo_empty{padding:0px 10px; padding-top: 10px;}
.pic_logo .logo_empty a img{max-height: 85px;}