@charset "utf-8";
/* by hjy */

/* 새글 스킨 (latest) */
.franchise{}
.franchise .eq_title{text-align: center; margin-top: 30px; margin-bottom: 30px;}
.franchise .eq_title h3{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
}
.franchise .eq_title p{
    font-size: 6rem;
    font-weight: 900;
    color: var(--color-yellow); 
    line-height: 1;
    
}
